@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  background: url("../assets/bg_tic_tac_toe.webp");
  background-size: 100vh;
  background-repeat: no-repeat;
  color: #04141d;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gamePart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rulesContainer, p {
  text-align: center;
  max-width: 450px;
  font-family: 'chakra petch';
  font-size: 19px;
  margin: 0 20px;
  color: #fff;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
}

h1 {
  font-size: 28px;
  text-align: center;
  font-family: 'press start 2p';
  color: #fff;
  margin: 65px 0px 35px 0px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px #04141d;
}

i {
  font-family: 'chakra petch';
  color: #fff;
  font-size: 14px;
  padding: 10px 0;
}

a {
  text-decoration: underline;
  color: #fff;
}

.square {
  background: #ffffffc8;
  backdrop-filter: blur(2px);
  border: none;
  float: left;
  font-size: 42px;
  height: 70px;
  padding: 0;
  margin: 1px;
  text-align: center;
  width: 70px;
  border-radius: 8px;
  font-family: 'press start 2p';
}

.boardRow:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin: 45px 0 15px;
  font-size: 28px;
  text-align: center;
  font-family: 'quantico';
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 5px #04141d;
}

.resetButton {
  margin: 45px 0;
  padding: 10px;
  font-size: 22px;
  width: 300px;
  font-family: 'quantico';
  border: none;
  font-weight: 700;
  color: #04141d;
  box-shadow: 0px 0px 5px 4px rgba(4,20,29,0.3);
}

@media (min-width: 720px) {

  html {
    background: url("../assets/bg_tic_tac_toe2.webp");
  }

}

@media (min-width: 1000px) {

  html {
    background: url("../assets/bg_tic_tac_toe2.webp");
  }

  #root {
    flex-direction: row;
    justify-content: space-evenly
  }

  .square {
    height: 100px;
    width: 100px;
  }

  i {
    display: none;
  }

  .rulesContainer {
    margin: 0;
    font-size: 28px;
  }

  p {
    font-size: 26px;
  }

  h1 {
    font-size: 34px;
    margin-top: 0;
  }

  .status {
    font-size: 38px;
  }
  
}
